body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
menu {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img,
abbr {
  border: 0; }

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal; }

ul li,
menu li {
  list-style: none; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

legend {
  color: #000; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

img {
  max-width: 100%;
  height: auto; }

@font-face {
  font-family: BerlingskeSerif-DBdItalic;
  src: url("../font/BerlingskeSerif-DBdItalic.ttf"); }

@font-face {
  font-family: 'SF UI Display Medium';
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Medium"), url("../font/sf-ui-display-medium-58646be638f96.woff") format("woff"); }

@font-face {
  font-family: 'SF UI Display Semibold';
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Semibold"), url("../font/sf-ui-display-semibold-58646eddcae92.woff") format("woff"); }

@font-face {
  font-family: 'SF UI Display Bold';
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Bold"), url("../font/sf-ui-display-bold-58646a511e3d9.woff") format("woff"); }

@font-face {
  font-family: 'SF UI Regular';
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Regular "), url("../font/SFUIDisplay-Regular.ttf"); }

@font-face {
  font-family: 'Gotham Pro Black';
  src: url("../font/GothamPro-Black.eot");
  src: url("../font/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("../font/GothamPro-Black.woff") format("woff"), url("../font/GothamPro-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro Medium';
  src: url("../font/GothamPro-Medium.eot");
  src: url("../font/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../font/GothamPro-Medium.woff") format("woff"), url("../font/GothamPro-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro Bold';
  src: url("../font/GothamPro-Bold.eot");
  src: url("../font/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../font/GothamPro-Bold.woff") format("woff"), url("../font/GothamPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../font/GothamPro.eot");
  src: local("Gotham Pro"), local("GothamPro"), url("../font/GothamPro.eot?#iefix") format("embedded-opentype"), url("../font/GothamPro.woff") format("woff"), url("../font/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@media screen and (max-width: 768px) {
  .header .logo img {
    max-width: 300px; }
  .header-inner {
    max-width: 100% !important; }
    .header-inner h1 {
      font-size: 30px !important; }
    .header-inner p {
      max-width: 100% !important; }
  .btn {
    margin: 0 auto;
    display: block; }
  .partner-info-block {
    flex-grow: 1; } }

@media screen and (max-width: 425px) {
  h2 {
    font-size: 30px !important; }
  .products-items {
    flex-direction: column !important;
    justify-content: center !important; }
  .delivery-info {
    flex-direction: column; }
  .delivery-info-block p {
    width: 100% !important; }
  .features-items {
    flex-direction: column !important;
    align-items: center !important;
    text-align: center; }
  .footer-site-name {
    order: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0; }
  .footer-nav {
    justify-content: space-around !important;
    width: 100% !important;
    margin-bottom: 20px; }
  .map {
    margin-bottom: 30px !important; }
  .catalog {
    background-image: none !important;
    height: 460px !important;
    padding: 0 !important;
    margin-bottom: 30px; }
    .catalog .btn {
      font-size: 15px !important;
      padding: 23px 6px !important; }
  .catalog-inner {
    max-width: 100% !important; }
    .catalog-inner p {
      margin: 30px 0 !important; }
  .reviews {
    flex-direction: column; }
  .reviews-info {
    padding: 10px 0 0 0 !important; }
  .modal-content {
    padding: 10px !important;
    background-position-x: 99%; }
  .modal-form {
    max-width: 100% !important; }
    .modal-form button {
      padding: 23px 64px !important; }
  .close {
    margin-right: 0 !important; } }

.carousel-wrapper {
  position: relative;
  margin: 0 0 130px 0; }

.carousel-wrapper a {
  position: relative;
  display: inline-block; }

.slide-img {
  background-color: black; }

.slider-bg {
  height: 487px;
  width: 1110px; }

.slick-slide {
  /*text-align: center !important*/ }

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(1, 1, 1, 0.35);
  transition: 0.2s;
  opacity: 0; }

/*a:hover */
.carousel-wrapper a:hover .overlay {
  z-index: 99999;
  opacity: 1; }

.overlay-content {
  color: white;
  padding: 50px 100px 0 50px;
  max-width: 710px;
  /*position: absolute*/
  /*top: 5%*/
  /*left: 5%*/ }

.overlay-content h4 {
  font-family: BerlingskeSerif-DBdItalic, sans-serif;
  font-size: 24px; }

.overlay-content h3 {
  font-family: BerlingskeSerif-DBdItalic, sans-serif;
  font-size: 48px;
  margin: 50px 0 50px 0; }

.overlay-content p {
  font-family: "SF UI Regular",sans-serif;
  font-size: 18px; }

.arrows {
  display: flex;
  margin-top: 20px;
  cursor: pointer; }

.prev,
.prev1 {
  margin: 0 20px 0 0;
  height: 10px;
  width: 70px;
  opacity: .5;
  background: url("../img/left.jpg") no-repeat;
  transition: .3s; }
  .prev:hover,
  .prev1:hover {
    opacity: 1; }

.next,
.next1 {
  height: 10px;
  width: 70px;
  opacity: .5;
  background: url("../img/right.jpg") no-repeat;
  transition: .3s; }
  .next:hover,
  .next1:hover {
    opacity: 1; }

.reviews {
  display: flex; }
  .reviews h3 {
    font-family: "SF UI Display Bold", sans-serif;
    font-size: 24px;
    flex-grow: 100; }
  .reviews p {
    font-size: 18px;
    flex-grow: 1000; }

.font-underline {
  text-decoration: underline; }

.review-from {
  font-size: 14px;
  font-family: "SF UI Display Semibold",sans-serif; }

.icon {
  margin: 0 10px 0 0 !important; }

.reviews-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0 0 30px; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 12%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-header {
  display: flex; }
  .modal-header h2 {
    flex-grow: 1000; }

.modal-content {
  background-image: url(../img/modal_bg.png);
  margin: auto;
  padding: 40px 0 0 40px;
  border: 1px solid #888;
  max-width: 710px;
  min-height: 450px;
  border-radius: 8px; }

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 45%; }
  .modal-form p {
    font-family: "SF UI Regular", sans-serif;
    margin-bottom: 40px; }
  .modal-form input {
    width: 100%; }

.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  margin-right: 50px; }
  .close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer; }

body {
  color: #323232;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h2 {
  font-size: 36px;
  font-family: BerlingskeSerif-DBdItalic, sans-serif;
  margin-bottom: 50px; }

input[type="text"] {
  font-family: SF UI Regular,sans-serif;
  color: #323232;
  box-sizing: border-box;
  letter-spacing: 1px;
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
  background-color: #fff; }
  input[type="text"]:focus {
    outline: none; }
  input[type="text"]::placeholder {
    font-family: SF UI Regular,sans-serif;
    color: #323232;
    font-size: 14px; }

.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 10px; }

.btn {
  background-color: #323232;
  font-family: "Gotham Pro", sans-serif;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  padding: 23px 74px;
  cursor: pointer; }
  .btn:hover {
    background-color: #282828; }

.header {
  padding-top: 40px;
  height: 900px;
  background-image: url("../img/head_bg.jpg");
  margin-bottom: 80px;
  background-position-x: 50%;
  background-repeat: no-repeat; }
  .header .logo {
    flex-grow: 1000; }

.header-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.phones {
  flex-grow: 1;
  align-items: center;
  display: flex;
  flex-direction: column; }
  .phones span:first-child {
    font-family: "SF UI Display Bold",sans-serif;
    font-size: 25px; }
  .phones span:last-child {
    font-family: 'SF UI Regular', sans-serif;
    font-size: 15px; }

.header-inner {
  margin-top: 160px;
  max-width: 74%; }
  .header-inner h1 {
    font-size: 71px;
    font-family: BerlingskeSerif-DBdItalic, sans-serif; }
  .header-inner p {
    font-size: 24px;
    font-family: "Gotham Pro", sans-serif;
    margin: 40px 0 80px 0;
    max-width: 55%; }

.features-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 80px; }
  .features-items .item {
    flex-basis: 20%; }
    .features-items .item img {
      margin-bottom: 50px; }
    .features-items .item h3 {
      font-size: 18px;
      font-family: "Gotham Pro", sans-serif;
      margin-bottom: 25px; }
    .features-items .item p {
      font-family: "SF UI Regular", sans-serif;
      max-width: 100%;
      font-size: 16px; }

.products-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px; }

.product {
  text-align: center;
  flex-basis: 20%;
  padding: 20px;
  background-color: #f6f6f6;
  margin-bottom: 23px; }
  .product span {
    display: block;
    font-family: BerlingskeSerif-DBdItalic, sans-serif;
    font-size: 24px;
    margin: 10px 0 10px 0; }
  .product button {
    padding: 23px 41px !important; }

.partner-info-blocks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 80px; }

.partner-info-block {
  flex-basis: 45%;
  padding: 20px;
  background-color: #f6f6f6;
  margin-bottom: 23px; }
  .partner-info-block h3 {
    font-family: "Gotham Pro Medium", sans-serif;
    font-size: 24px;
    margin: 0 0 25px 0;
    color: #d5ab61; }
  .partner-info-block p {
    font-size: 16px;
    font-family: "Gotham Pro", sans-serif;
    margin-bottom: 70px; }

.delivery {
  background-image: url(../img/dost-block-bg.jpg);
  color: #fff;
  height: 460px;
  margin-bottom: 80px; }
  .delivery h3 {
    padding: 70px 0 0 0;
    font-size: 24px;
    font-family: BerlingskeSerif-DBdItalic, serif; }

.delivery-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 0; }

.delivery-info-block {
  flex-basis: 50%; }
  .delivery-info-block h4 {
    color: #d5ab61;
    font-size: 48px;
    font-family: BerlingskeSerif-DBdItalic, serif; }
  .delivery-info-block p {
    font-size: 18px;
    font-family: BerlingskeSerif-DBdItalic, serif;
    width: 75%;
    margin-top: 20px; }

.about {
  margin: 0 0 100px 0;
  background-image: url(../img/fs-block_bg.jpg);
  color: #fff;
  height: 460px; }
  .about h3 {
    color: #d5ab61;
    font-size: 48px;
    font-family: BerlingskeSerif-DBdItalic, serif;
    padding: 90px 0 0 0; }
  .about p {
    margin-top: 40px;
    font-size: 18px;
    font-family: BerlingskeSerif-DBdItalic, serif;
    width: 80%; }

.about-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.about-info-block {
  flex-basis: 50%; }

.catalog {
  padding-top: 150px;
  background-image: url(../img/partner_bg.jpg);
  background-repeat: no-repeat;
  height: 575px;
  background-position-x: 50%; }

.catalog-inner {
  max-width: 50%; }
  .catalog-inner p {
    font-family: 'SF UI Regular' , sans-serif;
    margin-bottom: 100px; }

.map {
  background-image: url(../img/map.jpg);
  height: 600px;
  margin: 0 0 83px 0; }
  .map .container {
    display: flex;
    align-items: center;
    height: 100%; }

.form {
  background-image: url(../img/form-bg.jpg);
  height: 441px;
  width: 473px;
  border-radius: 8px;
  box-shadow: 0 0 54px 0 rgba(0, 0, 0, 0.09);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .form input {
    width: 67%;
    margin: 15px 0; }
  .form #client-name {
    margin-top: 70px; }
  .form #client-phone {
    margin-bottom: 70px; }

.footer,
.footer-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.footer-nav ul {
  margin: 0 20px; }

.footer-nav ul li {
  margin-bottom: 10px; }

.footer-nav a {
  text-decoration: none;
  font-family: "SF UI Display Bold",sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #323232; }

.footer-site-name p {
  font-family: "SF UI Display Bold", sans-serif;
  font-size: 18px;
  margin-bottom: 10px; }

.footer-site-name span {
  font-size: 11px;
  font-family: "SF UI Display Medium", sans-serif; }

.contacts h4 {
  font-family: "Gotham Pro", sans-serif;
  font-size: 14px;
  margin-bottom: 10px; }

.contacts p {
  font-size: 12px;
  font-family: "Gotham Pro", sans-serif; }
  .contacts p span {
    font-family: "Gotham Pro Bold", sans-serif;
    font-size: 12px; }
